body {
    font-family: Arial, Serif;
    color: #3e3a3a;
}
h1 {
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
}
h2 {
    font-family: monospace;
    font-size: 27px;
    padding-bottom: 75px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 25px;
}
p {
    font-size: 18px;
}
a.header {
    color: #3e3a3a;
    text-decoration: none;
}
ul {
    text-align: center;
}
ul li{
    display: inline-block;
    list-style-type: none;
    width: 250px;
}
form {
    text-align: center;
}
.headerbox {
    padding: 20px;
}
.linkbox {
    padding: unset;
    height: 100%;
}
.wrapper {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.textbox1 {
    display: inline-block;
    height: auto;
    padding: 3%;
    text-align: left;
    width: 500px;
}
.textbox2 {
    display: inline-block;
    height: auto;
    padding: 3%;
    width: 500px;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}